// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contents__user{
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  text-align: center;
}

.new_user{
  text-align: center;
}